/*******************************************/
/************** CIRCULAR *******************/
/*******************************************/

@font-face {
    font-family: 'Circular';
    src: url('font/circular/book/Circular-Book.eot');
    src: url('font/circular/book/Circular-Book.eot?#iefix') format('embedded-opentype'),
         url('font/circular/book/Circular-Book.woff') format('woff'),
         url('font/circular/book/Circular-Book.ttf') format('truetype'),
         url('font/circular/book/Circular-Book.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('font/circular/bold/Circular-Bold.eot');
    src: url('font/circular/bold/Circular-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/circular/bold/Circular-Bold.woff') format('woff'),
         url('font/circular/bold/Circular-Bold.ttf') format('truetype'),
         url('font/circular/bold/Circular-Bold.svg#webfontregular') format('svg');
    font-weight: bold;
    font-style: normal;
}