@import "font.css";

*{margin:0;padding:0;list-style:none;font-family:Circular}
html{background-color:#FFFFFF;}
a{text-decoration:none;}
button:focus{outline:none;}

/*––––– ROBERT BOT –––––*/
#bot{
	position:relative;
	overflow: hidden;
	background-color:#eeeeee;
	margin-top:30px;
}
#bot #chat{
	position:relative;
	width:100%;/*50%;*/
	/*height:100vh;*/
	height: calc(100vh - 30px);
	overflow: scroll;
}
#container{padding-bottom:50px;}

#bot h1{font-size:30px;text-align:center;margin:12px;}
#bot p{margin:12px;}

#bot #go-robert span{background-color:#000000;color:#ffffff;padding:5px;border-radius:5px;cursor:pointer;}

#console{
    position:fixed;
    top:0;
    width:100%;
    height:30px;
    /*background-color:#AAA;*/
	display:none;
}
#console #realtime-speech{
    padding:7px;
}

/*––––––– MESSAGE CONTAINER ––––––––*/
.msg-container{margin:12px;position:relative;}
.msg-container{margin-bottom:40px;}
.msg-container:last-child{margin-bottom:50px;}

/*––––––– AVATAR ––––––––*/
.avatar{position:relative;width:60px;height:60px;border-radius:50%;}
.avatar .avater-label{
	position:absolute;
	font-size:20px;color:#ffffff;
	margin-left:50%;margin-top:50%;transform: translate(-50%,-50%);
}
.user-bot .avatar{background-color:#000000;}
.robert-bot .avatar{background-color:#000000;float:right;}

/*–––––––– MESSAGE –––––––––––*/
.msg{position:relative;border-radius: 0 5px 5px 5px;padding:5px;margin:0 90px;}
.msg p{color:#000000;}

.msg .speech-bubble{
	position: absolute;
	left:-24px;
	top:0;
	border-style: solid;
	border-width: 0 25px 25px 0;
	border-color: transparent #cccccc transparent transparent;
}

.user-bot .msg{background-color:#cccccc;margin-top:-60px;}

.robert-bot .msg{padding:5px;border-radius: 5px 0px 5px 5px;background-color:#cccccc;}

.robert-bot .msg .speech-bubble{
	transform: rotate(-90deg);
	right: -24px;
	left: unset;
	top:0;
	border-width: 0 40px 40px 0;
	border-color: transparent #cccccc transparent transparent;
}

.msg .comment{font-size:12px;color:#000;margin-top:5px;float: right;}

strong{font-weight:normal;text-decoration:underline;}
/*––––– ADMIN –––––*/
#admin{
	height:100vh;
	position:absolute;
	overflow: scroll;
	width:50%;left:50%;top:0;
	background-color:#cccccc;
	display:none;
}

#admin h2, #admin p{margin:12px;}

#admin button{margin:12px;background-color:#000000;padding:15px;font-size:16px;border-radius:5px;color:#ffffff;cursor:pointer;}

#admin #keywords{margin:12px;margin-bottom:50px;}
#admin #keywords *{font-size:16px;color:#000000;font-weight:normal;}
#admin #keywords li{background-color: #ffffff;border-radius:5px;margin-top:10px;padding:15px;cursor:pointer;}
#admin #keywords li:nth-child(even){background-color: #eeeeee;}

/*#admin ul li a{}*/

#admin #keywords li:hover{background-color: #aaaaaa;}
/*#admin ul li:hover a p{color: #ffffff;}*/

/*#admin ul li a h4{color:#5e5e5e;}*/
/*#admin ul li a h5{color:#5e5e5e;font-size: 20px;}*/
/*#admin ul li a p{color:#aaaaaa;}*/

/*#keywords-editor{display:block;}
#keywords-list{display:block;}*/

.hidden{display:none;}

.entry{position:relative;margin-top: 40px}

label{
	font-size: 1em;
	color:#aaa;
	margin-left: 5px;
	display: block;
}

select,input,textarea,.input{
	-webkit-box-sizing: border-box;
 	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	-webkit-outline: none;
	   -moz-outline: none;
			outline: none;

	display:block;
	border : 1px solid #aaa;
	background-color: #FFF;
	border-radius: 5px;
	/*font-size: 25px;*/
	padding:10px;
	margin: 10px 5px;
	width:100%;
	cursor: pointer;

	font-size: inherit;
	line-height: inherit;
	font-size: 1.5em;
}
.btn{
	background-color: #5e5e5e;
	color:#fff;
	font-size:12px;
	border: 1px solid #5e5e5e;
	cursor: pointer;
	padding: 7px;
	border-radius: 5px;
	margin: 10px 5px;
}

#btn_save{
	background-color: #5e5e5e;
	color:#fff;
	font-size:20px;
	border: 1px solid #5e5e5e;
	cursor: pointer;
	padding: 15px;
	border-radius: 5px;
	/*margin:50px auto;
	margin-left:50%;
	transform: translateX(-50%);*/
}

#btn_save:hover{
	background-color: #fff;
	border: 1px solid #aaa;
	color:#5e5e5e;
}