<div class="interactive-step">
    <div class="step-description">
        <p class="chapter">{{i18n "Débusquer l’IA : IA ou humains ?"}}</p>

    </div>
    <div>

        <div class="jeu">

            <div class="qcm-instructions-panel">
                <div class="instructions-panel-top">
                    <div class="image-for-qcm" ></div>
                    <button class="qcm-zoom ">{{i18n "zoomer"}}</button>
                </div>
                <div class="instructions-panel-bottom">
                    <button class="qcm-button human">{{i18n "Un être humain"}}</button>
                    <button class="qcm-button ai">{{i18n "Une IA"}}</button>
                </div>
            </div>
        </div>
    </div>
                 <div class="consignes">{{i18n "Etes-vous un bon réseau de neurones discriminateur ?  "}}<br/><br/>{{i18n " Cliquez sur la bonne réponse. Zoomez dans l’image pour débusquer l’IA."}}</div>
   <div class="zoom-div"></div>

</div>


