<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Testons notre premier programme avec des images qu’il n’a jamais vues !"}}</h2>
        <p class="description">{{i18n "Prendre ou importer de nouvelles images correspondant à l’une des deux catégories et cliquer sur "}}<span class="btn-label">{{i18n "Tester"}}</span>.</p>
    </div>
    <div class="datasets-and-instructions creer_etape5 test-with-webcam">
        <div class="datasets">
            <div class="instructions-header">
                <h3>{{i18n "Bibliothèque"}}</h3>
            </div>
            <div class="parent-webcam-bg">
                <div class="parent-webcam large-size" ></div>
            </div>
            <div class="parent-buttons">
                <button class="snapshot-for-test-button">{{i18n "Prendre une photo"}}</button>
                <label class="file-upload-button">
                    <input type="file" class="prediction-file-upload" />
                    {{i18n "Importer une photo"}}
                </label>
            </div>
        </div>
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-right">
                <div class="instructions-panel-left">
                    <ul class="image-for-prediction" ></ul>
                </div>
                <div class="instructions-panel-right">
                    <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                    <div class="prediction-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>