<div class="intro-step">

    <h1>{{i18n "Tu viens d’entraîner ton premier programme ! Bravo !!"}}</h1>

    <div class="video-parent">
        <div class="video">
            <video src="{{videoPath}}">
                <track src="{{subtitlePath}}" kind="subtitles" srclang="fr" label="Français" />
            </video>
            <div class="video-background">
            </div>
            <div class="video-infos">
                <p class="video-step-title">{{i18n "Expérimenter 2/4"}}</p>
                <p class="video-title">{{i18n "Nous venons d'entraîner notre premier programe"}}</p>
            </div>
        </div>
    </div>

</div>