<div class="interactive-step datasets-with-two-rows-on-tablet">
    <div class="step-description">
        <h2>{{i18n "Notre programme saura-t-il reconnaître un même objet dans des contextes différents ?"}}</h2>
        <p class="description">{{i18n "Tester le programme avec des images de la même catégorie mais d’aspects différents (peluche, dessin, angle de vue)"}}</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="prediction_tuto1" ></div>
        </div>
        <div class="instructions with-large-left-padding">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel">
                <div class="instructions-panel-left">
                    <ul class="image-for-prediction" ></ul>
                </div>
                <div class="instructions-panel-right">
                    <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                    <div class="prediction-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>
