@import "../css/font.css";

:root {
  --theme-color: #333;
  --theme-font: "Circular";
}

/*–––––––––––––––––––––––––––––––––––––––
				 GLOBAL
–––––––––––––––––––––––––––––––––––––––*/

*{
	margin:0;padding:0;
	font-family:var(--theme-font);
	font-size:16px;
	font-weight:normal;
	font-style:normal;
}

a{text-decoration: none;}

/*–––––––––––––––––––––––––––––––––––––––
			   INDEX HEADER
–––––––––––––––––––––––––––––––––––––––*/

header{
	position:fixed;
	z-index:9999;
	width: 100%;
	background-color: var(--theme-color);
}
header h1{
	padding:15px 0;
	font-size: 25px;
}
header h1 a{font-family:var(--theme-font);color:#ffffff;font-size: 25px;margin-left: 20px;}

header #addButton{
	position: absolute;
	right: 60px;
	top: 13px;
	
	background-color:#fafafa;

	width:35px;
	height:35px;
	border:none;
	border-radius:50%;
	
	outline: none;
	cursor:pointer;
}

header #addButton:hover {
	background-color:#aaaaaa;
}

.addIcon {
  color: var(--theme-color);
  position: absolute;
  top: 17px;
  left: 10px;
}
.addIcon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: currentColor;
}
.addIcon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header #searchButton{
	position: absolute;
	right: 15px;
	top: 13px;
	
	background-color:#fafafa;

	width:35px;
	height:35px;
	border:none;
	border-radius:50%;
	
	outline: none;
	cursor:pointer;
}

header #searchButton:hover {
	background-color:#aaaaaa;
}

header #searchButton:hover .search.icon {
	color: #fafafa;
}

.searchIcon {
  color: var(--theme-color);;
  position: absolute;
  top: 9px;
  left: 8px;
  width: 12px;
  height: 12px;
  border: solid 2px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.searchIcon:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 8px;
  width: 2px;
  background-color: currentColor;
}

.closeIcon {
  color: var(--theme-color);;
  position: absolute;
  top: 7px;
  left: -4px;
  width: 21px;
  height: 21px;
}
.closeIcon:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.closeIcon:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header #dynamicSearchInput{
	/*display: block;*/
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	outline: none;
	height: 58px;
	font-size: 25px;
	padding-left: 15px;
	border-radius:0;
}

.hidden{display: none;}

/*–––––––––––––––––––––––––––––––––––––––
			   INDEX LIST
–––––––––––––––––––––––––––––––––––––––*/

section{
	padding-top:60px;
}

#list{
	background-color:#fafafa;
	overflow: hidden;
}
#list li{
	border-bottom: 1px solid #AAA;
	/*border-top: 1px solid #fafafa;*/
}

#list li a{
	display: block;
	width:100%;
	padding: 15px 0;
	padding-left: 16px;
	
	background-color:#fafafa;
	color:#333;
}

#list li a:hover{
	background-color: #AAA;
	color:#fff;
}

/*–––––––––––––––––––––––––––––––––––––––
			   FOOTER
–––––––––––––––––––––––––––––––––––––––*/

footer {
	height: 100px;
	margin: 30px;
}

/*–––––––––––––––––––––––––––––––––––––––
			   KEYWORD FORM
–––––––––––––––––––––––––––––––––––––––*/

form{
	max-width:800px;
	margin: 0 auto;
	padding:10px;
	/*border: 0.1px solid red;*/
}

.entry{position:relative;margin-top: 10px}

label{
	font-size: 14px;
	color:#333;
	margin-left: 5px;
	display: block;
}


form input,form textarea,.input{
	-webkit-box-sizing: border-box;
 	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	-webkit-outline: none;
	   -moz-outline: none;
			outline: none;

	display:block;
	border : 1px solid #333;
	background-color: #fafafa;
	color: #333;
	background-color: #FFF;
	border-radius: 5px;
	
	padding:10px;
	margin: 10px 0;
	width:100%;

	cursor: pointer;

	font-size: 16px;
}


.btn{
	background-color: #fafafa;
	color:#333;
	font-size:12px;
	border: 1px solid #333;
	cursor: pointer;
	padding: 7px;
	border-radius: 5px;
	
}

.btn:hover{
	background-color: #333;
	color:#fff;
}

#btn_save{
	background-color: #1f9100;
	color:#fff;
	border: 1px solid #1f9100;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 5px;
	/*margin:50px auto;
	margin-left:50%;
	transform: translateX(-50%);*/
}

#btn_save:hover{
	background-color: #fff;
	border: 1px solid #1f9100;
	color:#1f9100;
}

#btn_delete{
	background-color: #F00;
	color:#fff;
	border: 1px solid #F00;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 5px;
	/*margin:50px auto;
	margin-left:50%;
	transform: translateX(-50%);*/
}


#btn_delete:hover{
	background-color: #fff;
	border: 1px solid #F00;
	color:#F00;
}

#btn_cancel{
	background-color: #333;
	color:#fff;
	border: 1px solid #333;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 5px;
	/*margin:50px auto;
	margin-left:50%;
	transform: translateX(-50%);*/
}

#btn_cancel:hover{
	background-color: #fff;
	border: 1px solid #333;
	color:#333;
}