<div class="intro-step tuto-accueil">
    <div>
        <div class="mobile-warning for-mobile">
            Cette partie n’est pas adaptée aux appareils mobiles. Veuillez la consulter dans Chrome, Firefox ou Microsoft Edge sur ordinateur
            ou tablette en mode paysage
        </div>
        <div class="mobile-warning for-tablet">
            Veuillez passer en mode paysage pour une consultation optimale.
        </div>
        <h1 class="tuto-accueil-title">
            <span class="booste">{{i18n "Boosté à l'"}}</span>
            <span class="ia" >{{i18n "IA"}}</span>
            <span class="point-interrogation">?</span>
        </h1>
    </div>
</div>
