<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Avons-nous correctement entraîné notre programme ? Que voit-il ? Pourquoi ?"}}</h2>
        <p class="description">{{i18n "Sélectionner une image dans la Bibliothèque et la tester. Répéter l’opération autant de fois que désiré puis cliquer sur "}}<span class="btn-label">{{i18n "Suite"}}</span>.</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="instructions">
            <div class="instructions-panel full-height large-panel-on-left">

                <div class="instructions-panel-left">

                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Jeu de données"}}</h3>
                    </div>

                    <!-- Nom de la première catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{ category1 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la première catégorie -->
                    <div class="dataset-images-grid category1-images-grid category-images-grid" ></div>

                    <!-- Nom de la seconde catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{ category2 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la seconde catégorie -->
                    <div class="dataset-images-grid category2-images-grid category-images-grid" ></div>

                </div>

                <div class="instructions-panel-right with-border-left">
                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size" ></ul>
                        <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="prediction_tuto2" ></div>
        </div>
    </div>
</div>
