<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Utile, rigolo, trompeur ? Que voulons-nous faire dire à notre programme ?"}}</h2>
        <p class="description">{{i18n "Créons notre set de données et entraînons notre programme avant de le tester. A recommencer sans modération :-)"}}</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="instructions">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Jeu de données"}}</h3>
            </div>
            <div class="instructions-panel large-panel-on-left">
                <div class="instructions-panel-left">

                    <!-- Nom de la première catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{ category1 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la première catégorie -->
                    <div class="dataset-images-grid category1-images-grid category-images-grid" ></div>

                    <!-- Nom de la seconde catégorie -->
                    <div class="instructions-panel-left-header">
                        <h4>{{ category2 }}</h4>
                        <span class="validation"></span>
                    </div>

                    <!-- Galerie de la seconde catégorie -->
                    <div class="dataset-images-grid category2-images-grid category-images-grid" ></div>

                    <button class="modify-selections-button">{{i18n "Modifier"}}</button>
                </div>

                <div class="instructions-panel-right with-border-left">
                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size" ></ul>
                        <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="datasets">
            <h3>{{i18n "Prédiction"}}</h3>
            <div class="parent-webcam" ></div>
            <div class="parent-buttons">
                <button class="snapshot-button">{{i18n "Prendre une photo"}}</button>
                <label class="file-upload-button">
                    <input type="file" class="prediction-file-upload" />
                    {{i18n "Importer une photo"}}
                </label>
            </div>
        </div>
    </div>
</div>
