<div class="interactive-step datasets-with-two-rows-on-tablet">
    <div class="step-description">
        <h2>{{i18n "Ce programme a été entraîné à reconnaître des hommes et des femmes. Que remarque-t-on ?"}}</h2>
        <p class="description">{{i18n "Demander au programme ce que les images représentent. Choisir une image dans la bibliothèque puis cliquer sur "}}<span class="btn-label">{{i18n "Tester"}}</span> pour la donner au programme.
        </p>
    </div>
    <div class="datasets-and-instructions">
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="tester_prediction_tuto2" ></div>
        </div>
        <div class="instructions with-large-left-padding">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel">
                <div class="instructions-panel-left">
                    <ul class="image-for-prediction" ></ul>
                </div>
                <div class="instructions-panel-right">
                    <button class="feature-predict-button hidden">{{i18n "Tester"}}</button>
                    <p class="prediction-result"></p>
                </div>
            </div>
        </div>
    </div>
</div>
