<div class="interactive-step datasets-with-two-rows-on-tablet">
    <div class="step-description">
        <h2>{{i18n "Entraînons notre programme à reconnaître des hommes et des femmes."}}</h2>
        <p class="description">{{i18n "Sélectionner les images dans la Bibliothèque pour la catégorie Femme puis pour la catégorie Homme."}}</p>
    </div>
    <div class="datasets-and-instructions">
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="entrainement_tuto2" ></div>
        </div>
        <div class="instructions">
            <div class="instructions-panel full-height large-panel-on-left">

                <div class="instructions-panel-left">

                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Programme"}}</h3>
                    </div>

                    <div class="first-category-panel category-panel">

                        <!-- Nom de la première catégorie -->
                        <div class="instructions-panel-left-header">
                            <h4>{{ category1 }}</h4>
                            <span class="validation"></span>
                        </div>

                        <!-- Galerie de la première catégorie -->
                        <div class="dataset-images-grid category1-images-grid" ></div>

                    </div>

                    <div class="second-category-panel category-panel">

                        <!-- Nom de la seconde catégorie -->
                        <div class="instructions-panel-left-header">
                            <!-- Liste déroulante de la seconde catégorie -->
                            <div class="parent-select">
                                <select disabled="disabled" id="datasetsForCategory2" class="dataset-names-selector">
                                    <option value="Homme">{{i18n "Homme"}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- Galerie de la seconde catégorie -->
                        <div class="dataset-images-grid selected-images-grid" ></div>

                        <button class="validate-selection-button active hidden">{{i18n "Valider"}}</button>
                    </div>
                </div>

                <div class="instructions-panel-right with-border-left inactive">
                    <div class="instructions-header">
                        <h3 class="programme">{{i18n "Prédiction"}}</h3>
                    </div>
                    <div>
                        <ul class="image-for-prediction medium-size " ></ul>
                        <button class="feature-predict-button">{{i18n "Tester"}}</button>
                        <p class="prediction-result"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
