<div class="interactive-step">
    <div class="step-description">
        <h2>{{i18n "Préparation de l'entrainement homme-femme"}}</h2>
        <p class="description"></p>
    </div>
    <div>
        <div class="datasets">
            <h3>{{i18n "Bibliothèque"}}</h3>
            <div class="dataset-images-grid navigable-images-grid clickable-images-grid" data-category="tester_entrainement_tuto2" ></div>
        </div>
        <div class="instructions with-large-left-padding">
            <div class="instructions-header">
                <h3 class="programme">{{i18n "Programme"}}</h3>
            </div>
            <div class="instructions-panel">
                <div class="instructions-panel-left">
                    <ul class="image-for-prediction" ></ul>
                </div>
                <div class="instructions-panel-right">
                    <button class="train-selections-button">{{i18n "Enregistrer"}}</button>
                    <p class="prediction-result"></p>
                </div>
            </div>
        </div>
    </div>
</div>
