<div class="interactive-step">
    <div class="step-description">
                <p class="chapter">{{i18n "Nourrir l'IA - Le cri des animaux "}}</p>
                <h2>{{i18n "En savoir encore plus"}}</h2>

    </div>

    <div>

        <div class="qcm-instructions-panel">
            <div class="instructions-panel-top">
                <div class="savoir-plus">
                <p>
                Teachable Machine<br />
                                <a class="outer-link" href="https://www.youtube.com/watch?v=DFBbSTvtpy4" target="_blank">{{i18n "https://www.youtube.com/watch?v=DFBbSTvtpy4"}}</a>
                </p>
                <p>
                                un exemple de gamification de collecte d’imitations des animaux : la roue des datapépettes.<br />
                                <a class="outer-link" href="https://vimeo.com/221148446" target="_blank">{{i18n "https://vimeo.com/221148446"}}</a>

                </p>


                </div>

            </div>
        </div>
    </div>
</div>
