section{
	max-width:480px;
	margin:0 auto;
	margin-top:30px;
}
section form{
	max-width:480px;
}
section h1{
	text-align: center;
	margin: 15px;
	font-size: 30px;
}
section form input{
	display:block;
	border:none;
	/*border-bottom: 1px solid #9b9b9b;*/
	width:100%;
	padding-bottom: 5px;
	margin-top:40px;
	font-size:20px;
	outline: none;
	background-color: #ffffff;
	font-size: 20px !important;
}
section form input *{
	font-size: 20px !important;	
}

section form div{
	position:relative;
}
section form label{
	position: absolute;
	font-size:16px;
	top:50%;
	transform: translateY(-50%);
	margin-left: 10px;
	width:100%;
	color:#9b9b9b;
	transition: 0.3s;
}

section form input:focus ~ label, .has-content ~ label{
	top: -20px;
	font-size: 20px !important;
	color: #000000;
	transition: 0.3s;
}

section form input:-webkit-autofill,
section form input:-webkit-autofill:hover, 
section form input:-webkit-autofill:focus, 
section form input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

input[type]:-webkit-autofill + label{
	top: -20px;
	color: #000000;
	font-size: 20px !important;
}

section form button{
	background-color: #9b9b9b;
	color:#ffffff;
	border:none;
	border-radius: 20px;
	width:100%;
	height: 60px;
	margin-top: 60px;
}
section form button:hover{
	background-color: #6b6b6b;
	cursor: pointer;
}
section form button:focus{
	background-color: #6b6b6b;
	outline: none;
}
section p{font-size:12px;color:red;text-align: center;margin-top: 30px;}