<div class="intro-step">

    <h1>{{i18n "Conclusion"}}</h1>


 <div class="video-parent">
        <div class="video">
            <video src="{{videoPath}}" poster="{{posterPath}}" >
                <track src="{{subtitlePath}}" kind="subtitles" srclang="fr" label="Français" />
            </video>
            <div class="video-background">
            </div>
            <div class="video-infos">
                <p class="video-step-title">{{i18n "Conclusion générale "}}</p>
                <p class="video-title">{{i18n "Humains et IA"}}</p>
            </div>
        </div>
    </div>

</div>