@charset "UTF-8";

.tuto-accueil {
    display: flex;
    width: 100%;
    height:100%;
    margin:0 auto;
    background: #FAF7EC url(../images/accueil_tuto1_avec_titre.png) center / contain no-repeat;
    text-align: center;
}

h1.tuto-accueil-title {
    display: inline-block;
    visibility: hidden;
    color: #016ED7;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
}

h1.tuto-accueil-title > span {
    display: inline-block;
    vertical-align: middle;
}

h1.tuto-accueil-title .vous-avez-dit {
    font-size: 40px;
}

h1.tuto-accueil-title .ia {
    font-size: 175px;
    margin-left: 8px;
    margin-top: -38px;
}

h1.tuto-accueil-title .point-interrogation {
    font-size: 300px;
    margin-top: -27px;
    margin-left: 11px;
}

.step-contents {
    /* vertical align */
    display: flex;
    align-items: center;
}

.instructions.full-width .instructions-panel-right {
    border-left: solid #BADED5 1px;
    margin-left: 20px;
}

.instructions.full-width .instructions-panel-right > div.instructions-warning {
    margin-left: 20px;
}


.credits a {
    color: #00A387;
}

.credits .une-production {
    color: #347D70;
    font-size: 14px;
}

@media screen and (max-width:1024px) {


}

@media screen and (max-width:768px) {

    .tuto-accueil {
        display: flex;
        align-items: stretch;
        background: #FAF7EC;
        width: 100%;
        height:100%;
        margin:0 auto;
        background: url(../images/accueil_tuto1_S_2X.png) top 150px center / 90vw no-repeat;
    }

    h1.tuto-accueil-title {
        visibility: visible;
        margin: 0 auto;
        transform: scale(0.4, 0.4);
        transform-origin: 0% 0%;

        left: calc( 50vw - 150px );
        top:calc( 40vw );
        position: relative;
    }

    .instructions.full-width .instructions-panel-right {
        margin-left: 0;
        border: 0;
        margin-top: 40px;
    }

    .instructions-panel-right .instructions-warning {
        display: none;
    }

    .datasets-and-instructions.test-with-webcam .parent-buttons {
        padding: 0 5px 0 20px;
    }

    .datasets-and-instructions.test-with-webcam .file-upload-button,
    .datasets-and-instructions.test-with-webcam .datasets button,
    .instructions button {
        padding: 7px 20px;
    }

    .datasets-and-instructions.test-with-webcam .instructions-panel.large-panel-on-right .instructions-panel-right {
        padding-top: 60px;
    }

}