@charset "UTF-8";

.tuto3-accueil {
    display: flex;
    background: #FAF7EC;
    width: 100%;
    height:100%;
    margin:0 auto;
    background: url(../images/accueil_tuto1_avec_titre.png) center / contain no-repeat;
    text-align: center;
}

h1.tuto3-accueil-title {
    display: inline-block;
    visibility: hidden;
    color: #016ED7;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
}

h1.tuto3-accueil-title > span {
    display: inline-block;
    vertical-align: middle;
}

h1.tuto3-accueil-title .vous-avez-dit {
    font-size: 40px;
}

h1.tuto3-accueil-title .ia {
    font-size: 175px;
    margin-left: 8px;
    margin-top: -38px;
}

h1.tuto3-accueil-title .point-interrogation {
    font-size: 300px;
    margin-top: -27px;
    margin-left: 11px;
}
.basic-link{
    pointer-events: auto;
}
.credits{
    text-align: left;
    pointer-events: none;
}
.credits a {
    color: #00A387;
}

.credits .une-production {
    color: #347D70;
    font-size: 14px;
}
.credits-click{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

@media screen and (max-width:768px) {

    .tuto3-accueil {
        display: flex;
        align-items: stretch;
        background: #FAF7EC;
        width: 100%;
        height:100%;
        margin:0 auto;
        background: url(../images/accueil_tuto1_S_2X.png) top 50px center / 90vw no-repeat;
    }

    h1.tuto3-accueil-title {
        visibility: visible;
        margin: 0 auto;
        transform: scale(0.4, 0.4);
        transform-origin: 0% 0%;

        left: calc( 50vw - 150px );
        top:calc( 40vw + 100px );
        position: relative;
    }

}
li.navigation-route{
    display:none;
}
.step-header ul.navigation.chapters li{
    display:none;!important;
}
.step-header{
    min-height:80px;
}
.step-footer ul.navigation-next li.next-link a{
    font-size:18px;
}
li.next-link {
    display: inline-block;
}
.disabled{
    opacity:0.5;
}


.intro-step {
    background: url(../images/tuto3_texture.png);
}
.intro-step .video-background {
    background: #F8AE37 url(../images/b_video.svg) center / 140px 140px no-repeat;
}
.intro-step .video-parent .video-infos .video-title {
    color: #4462CE;
}
.intro-step .video-parent .video-infos {
    background: rgba(243, 215, 49, 0.46);
}

.step-footer ul.navigation-next{
    right:unset;
    width:100%;
}