@charset "UTF-8";


.message-device{
    position:absolute;
    background: url(../images/tuto3_texture.png);
    top:75px;
    left:0px;
    bottom:0px;
    right:0px;

    padding:20%;
    font-size:24px;
    font-family: 'Rambla', sans-serif;
    color:#D2553F;
    text-align:left;

    display:none;
}

.message-device p{
    margin-bottom:30px;
}

.forced{
    cursor:pointer;
}