@charset "UTF-8";

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

div {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #FEFCF3;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Common */


h1 {
    font-size:30px;
    font-weight:bold;
    margin:10px 0;
}

h2 {
    font-size:20px;
    font-weight:bold;
    margin:10px 0;
}

h3 {
    font-weight:bold;
    margin:3px 0 12px;
}

div {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.tuto-ia-application {
    position: relative;
    margin:0 auto;
}

.intro-step,  .interactive-step {
    /* min-height: 600px; */
}

.intro-step {
    background-color: rgba(0,0,255, 0.15);
}

.interactive-step {
    max-width: 1180px;
    margin: 0 auto 20px;
    padding: 18px;
    flex:0 0 100%;
}

.intro-step > div {
    width: 100%;
}

.intro-step .mobile-warning {
    display: none;

    width: 100%;
    padding: 50px 10%;
    box-sizing: border-box;

    color: #5937B9;
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    text-align: center;

}



/* Header */

.step-header {
    background: #FEFCF3;
    padding:12px 0 8px;
    position: relative;
}

.step-header::after {
    content:'';
    display: table;
    clear:both;
}

.step-header ul.navigation.chapters {
    list-style: none;
    padding: 0;
    margin: 0;
}

.step-header ul.navigation.chapters {
    text-align: center;
    display: block;
    margin: 10px auto;
    white-space: nowrap;
}

.step-header ul.navigation.chapters li {
    display: inline-block;
}

.step-header ul.navigation.chapters li a {
    display: inline-block;
    position: relative;
    height: 40px;
    padding:0 10px;
    margin:0 22px;

    color: #FEFCF3;
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #8D75CB;
}

.step-header ul.navigation.chapters li a:hover,
.step-header ul.navigation.chapters li.active a {
    background-color: #FF7558;
}

.step-header ul.navigation.chapters li a::before {
    content: '';
    display: block;
    position: absolute;
    left:-22px;
    top:0;
    background-position: top left;
    background-size: 23px 40px;
    background-repeat: no-repeat;
    background-image: url(../images/nav_g_off.svg);
    width:23px;
    height: 40px;
}

.step-header ul.navigation.chapters li.active a::before,
.step-header ul.navigation.chapters li a:hover::before {
    background-image: url(../images/nav_g_on.svg);
}

.step-header ul.navigation.chapters li:first-child a {
    padding: 0 30px;
    margin-left: 0;
}

.step-header ul.navigation.chapters li:first-child a::before {
    display: none;
}

.step-header ul.navigation.chapters li a::after {
    content: '';
    display: block;
    position: absolute;
    right:-25px;
    top:0;
    background-position: top left;
    background-size: 26px 40px;
    background-repeat: no-repeat;
    background-image: url(../images/nav_d_off.svg);
    width:26px;
    height: 40px;
}

.step-header ul.navigation.chapters li.active a::after,
.step-header ul.navigation.chapters li a:hover::after {
    background-image: url(../images/nav_d_on.svg);
}

.step-header .home-link {
    position: absolute;
    right: 24px;
    top:13px;
}

.step-header .home-link a {
    background: url(../images/logo_classcode_IAI.svg) top left / 174px 60px no-repeat;
    width: 174px;
    height: 60px;
    display: inline-block;
    color: transparent;
}

.step-header ul.navigation li.active a {
    text-decoration: none;
}

.step-header .title-link {
    display: block;
    position: absolute;
    left: 0;
    top: 24px;
}

.step-header .title-link a {
    display: inline-block;
    padding: 4px 17px;
    font-family: 'Raleway', sans-serif;
    color: #016ED7;
    background-color: rgba(1,110,215,0.12);
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.step-header .title-link strong {
    font-weight: 800;
}



/* Footer */

.step-footer {
    background: #FEFCF3;
    padding: 0;
    text-align: center;
    min-height: 60px;
    position: relative;
}

.step-footer ul.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.step-footer ul.step-navigation {
    display: inline-block;
    margin-top: 22px;
}

.step-footer::after {
    content:'';
    display: table;
    clear:both;
}

.step-footer ul.navigation li {
    float: left;
    padding: 0;
    margin: 0 8px 0 0;

    height: 16px;
    width: 16px;
    border: 3px #CDC4AA solid;
    background-color: #FFF;
    border-radius: 50%;
}

.step-footer ul.navigation li.active {
    background-color: #CDC4AA;
    border: 3px transparent solid;
}

.step-footer ul.navigation li a {
    text-decoration: none;
    color: transparent;
    pointer-events: none;
}

.step-footer ul.navigation li.active a {
    pointer-events: none;
}


.step-footer ul.navigation-next{
    position: absolute;
    right: calc( 52vw - 512px );
    top:7px;
}

.step-footer ul.navigation-next li {
    display: inline-block;
    margin-left: 20px;
}

.step-footer ul.navigation-next li:first-child {
    margin-left: 0;
}

.step-footer ul.navigation-next li a {
    display: inline-block;
    padding: 0 34px 0 24px;
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    color: #00A387;
    text-transform: uppercase;
    text-decoration: none;

    border: 3px solid #00A387;
    border-radius: 24px;
    height: 40px;
    width: auto;
}

.step-footer ul.navigation-next li.next-link a {
    background: rgba(254,252,243,0.7) url(../images/fleche_suite.svg) center right 12px / 20px 12px no-repeat;
}

.step-footer ul.navigation-next li.next-link a:hover {
    text-decoration: underline;
    background: url(../images/fleche_suite_on.svg) center right 12px / 20px 12px no-repeat;
    border: 3px solid #8D75CB;
    color: #8D75CB;
}


.step-footer .credits-link {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 15px;
}

.step-footer .credits-link a {
    font-family: 'Rambla', sans-serif;
    color: #A39F93;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}



/* Content */

.step-contents {
    margin: 0 auto;

    display: block;

    /* vertical align : cf tuto1.css et tuto2.css */

    /*
    display: flex;
    align-items: center;
    */
}



.intro-step,
.step-contents {
    min-height: calc( 100vh - 147px );
}

.step-contents::after {
    content:'';
    display: table;
    clear:both;
}

.step-contents,
.step-description {
    background-color: #FAF7EC;
}

.step-contents h3 {
    color: #00977D;
    font-family: 'Raleway', sans-serif;;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
}

.step-contents .datasets h3 {
    text-align: center;
}


.step-description {
    padding: 0 0 25px 0;
}

.step-description p.chapter {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    color: #FF7558;
}

.step-description p.chapter::before,
.step-description p.chapter::after {
    content: '|';
    margin: 0 4px;
}


.step-description h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
    color: #F85230;
}

.step-description p.description {
    font-family: 'Rambla', sans-serif;
    font-size: 17px;
    line-height: 25px;
    color: #D2553F;
}

.step-description .btn-label {
    text-transform: uppercase;
}

.step-description .btn-label::before {
    content: '< ';
    white-space: pre;
}

.step-description .btn-label::after {
    content: ' >';
    white-space: pre;
}

.datasets-and-instructions {
    display: flex;
}

.webcam-capture,
.instructions,
.datasets {
    float: left;
    padding: 22px 10px;
    background-color: #daf1e0;
    border-radius: 12px;
    min-height:495px;
}

.datasets {
    width: 275px;
    position: relative;
}

.datasets:first-child {
    margin-right: 20px;
}

.datasets:last-child {
    margin-left: 20px;
}

.datasets.no-dataset {
    /* opacity: 0.35; */
}

.datasets a {
    position: absolute;
    top:20px;
    width:29px;
    height: 29px;
    color:transparent;
}

.datasets-navigation {
    height: 0;
}

.datasets a.previous-dataset {
    left:20px;
    background: url(../images/precedent.svg) top left / 29px 29px no-repeat;
}

.datasets a.previous-dataset:hover {
    background: url(../images/precedent_on.svg) top left / 29px 29px no-repeat;
}

.datasets a.next-dataset {
    right:20px;
    background: url(../images/suivant.svg) top left / 29px 29px no-repeat;
}

.datasets a.next-dataset:hover {
    background: url(../images/suivant_on.svg) top left / 29px 29px no-repeat;
}

.instructions {
    width: calc( 100% - 295px );
    padding-left: 15px;
}

.instructions.full-width  {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.instructions.with-large-left-padding {
    padding-left: 65px;
}

.instructions.with-large-left-padding .instructions-panel {
    margin-top: 30px;
}

.instructions h3 {
    display: inline-block;
}

.instructions-header {
    padding-bottom: 8px;
}

.instructions-panel {
    width:100%;
    height: calc( 100% - 75px );
    display: flex;
}

.instructions-panel .instructions-panel-left {
    width:35%;
    height: 100%;
    float:left;
    background: url(../images/texture.png);
}

.instructions-panel .instructions-panel-right {
    width:65%;
    float:left;
    padding:70px 25px;
    text-align: center;
}

.instructions-panel .instructions-panel-left .category-panel {
    position: relative;
}



/* ex: créer */
.instructions.full-width .instructions-header {
    margin-left: 65px;
}

.instructions.full-width .instructions-panel-left {
    background: url(../images/texture.png);
    width:75%;
    margin-left: 65px;
    padding-left: 20px;
    padding-bottom: 20px;
    float:left;
}

.instructions.full-width .instructions-panel-left.no-padding-left {
    padding-left: 0;
}

.instructions .columns {
    display: flex;
}

.instructions .columns.with-padding-left {
    padding-left: 10%;
}

.instructions-panel.full-height {
    height: 100%;
}

.instructions.full-width .columns .column.webcam-column {
    flex: 0 0 45%;
}

.instructions.full-width .columns .column.webcam-column .parent-webcam {
    margin: 32px 0 42px;
}

.instructions.full-width .columns .column.buttons-column {
    width: 55%;
    background-color: #daf1e0;
    padding: 20px 0;
    margin-bottom: 40px;
    text-align: center;
}

.instructions.full-width .columns .column.buttons-column label,
.instructions.full-width .columns .column.buttons-column button {
    margin-top: 16px;
}


.instructions-panels {
    display: flex;
}

.instructions .instructions-panel-right.with-border-left {
    border-left: 2px solid #B0B9DC;
    margin-left: 10px;
}

.instructions.full-width .instructions-panel-right {
    width:25%;
    float:left;
    position: relative;
    text-align: center;
}

.instructions.full-width .instructions-panel-right > * {
    position: absolute;
    left:0;
    margin-bottom: 40px;
}

.instructions.full-width .instructions-panel-right.vertical-align-bottom > button {
    margin-bottom: 0;
}


.instructions.full-width .instructions-panel-right > div {
    top: 0;
}

.instructions.full-width .instructions-panel-right > button {
    bottom: 0;
    left: 10px;
}

.instructions.full-width .instructions-panel-right > div.instructions-warning,
.instructions.full-width .instructions-panel-right > button.validate-selection-button {
    position: static;
}

.instructions.full-width .instructions-panel-right > div.instructions-warning {
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #00977D;
    max-width: 85%;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 160px;
}

.instructions.full-width .instructions-panel-right > div.instructions-warning > p {
    width: 90%;
}

.instructions.full-width .instructions-panel-right > div.instructions-warning strong {
    font-weight: bold;
}


.instructions.full-width .input-for-category-parent {
    background-color: #daf1e0;
    padding: 10px 10px 22px;
}

.instructions.full-width .input-for-category-parent input[type=text] {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: solid 1px #00A387;
    border-radius: 2px;
    box-sizing: border-box;

    color: #9B9B9B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.instructions-panel.large-panel-on-left .instructions-panel-left {
    width: 76%;
    background:none;
}

.instructions-panel.large-panel-on-left .instructions-panel-right {
    width: 24%;
    padding:25px 10px 0;
}

.instructions-panel.large-panel-on-right .instructions-panel-left {
    width: 40%;
}

.instructions-panel.large-panel-on-right .instructions-panel-right {
    width: 60%;
    padding:25px 10px 0;
}

.instructions-panel .instructions-panel-left-header {
    width: 100%;
    height: 56px;
}


/* ECran créer */

.datasets-and-instructions.test-with-webcam .datasets .instructions-header {
    opacity: 0;
}

.datasets-and-instructions.test-with-webcam .datasets {
    width: 325px;
}

.datasets-and-instructions.test-with-webcam .instructions {
    width: calc( 100% - 325px );
    padding-left: 30px;
    box-sizing: border-box;
}

.datasets-and-instructions.test-with-webcam .file-upload-button,
.datasets-and-instructions.test-with-webcam .datasets button, .instructions button {
    padding: 7px 30px;
}

.datasets-and-instructions.test-with-webcam .instructions-panel.large-panel-on-right .instructions-panel-right {
    padding-top: 90px;
}



/* Elements */

.instructions-panel .instructions-panel-left-header h4 {
    width: 67%;
    min-height: 40px;
    vertical-align: top;
    box-sizing: border-box;
}

.instructions-panel .instructions-panel-left-header input[type=text] {
    width: 67%;
    min-height: 40px;
    background-color: #4462CE;
    padding: 10px 0 10px 24px;
    border: 1px solid #C6C1C7;
    box-sizing: border-box;
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
}

.instructions-panel-left-header span.validation {
    display: inline-block;
    width:43px;
    height: 30px;
    margin: 5px 0 5px 70px;
    background: url(../images/coche_validation.svg);
}

.instructions-panel .parent-select {
    width: 65%;
    overflow: hidden;
    float: left;
}

.instructions-panel select {
    width: calc( 100% + 20px );
    height: 40px;
    border: 1px solid #C6C1C7;
    border-radius: 2px;
    background-color: #00A387;
    padding: 4px 20px;

    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
}

.instructions-panel select option {
    text-transform: uppercase;
}

.instructions-panel h4 {
    display: inline-block;
    width: 80%;
    border-radius: 2px;
    background-color: #00A387;
    padding: 10px 0 10px 24px;

    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
}

.instructions-panel h4.hidden {
    display: none;
}

.datasets button,
.instructions button {
    width: auto;
    border: 1px solid rgba(121, 121, 121, 0.61);
    border-radius: 24px;
    background-color: #5937B9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
}

.file-upload-button,
.datasets button,
.instructions button {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 30px;
}

.parent-buttons {
    text-align: center;
    width: 100%;
}


.instructions .category-panel .modify-selections-button,
.instructions .category-panel .validate-selection-button {
    position: absolute;
    top:0;
    right: 0;
}

.file-upload-button {
    display: inline-block;
    border: 1px solid rgba(121, 121, 121, 0.61);
    border-radius: 24px;
    background-color: #5937B9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.39);
    padding: 7px 30px;
}

.file-upload-button input[type=file] {
    display: none;
}

.datasets label,
.datasets button {
    margin-top: 20px;
}

.instructions .file-upload-button,
.instructions button {
    margin-left: 10px;
}

.datasets label.file-upload-button {
    padding: 5px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.instructions-panel-right .prediction-result {
    margin-top:30px;
    color: #5937B9;
    font-family: 'Rambla', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.instructions-panel-right .prediction-result .large,
.instructions-panel-right .prediction-result .small {
    text-transform: capitalize;
}

.instructions-panel-right .prediction-result .large {
    font-size: 30px;
    line-height: 34px;
}

.instructions-panel-right .prediction-result .small {
    font-size: 25px;
    line-height: 28px;
}

.large-panel-on-left .instructions-panel-right .prediction-result .large {
    font-size: 26px;
    line-height: 29px;
}

.large-panel-on-left .instructions-panel-right .prediction-result .small {
    font-size: 23px;
    line-height: 26px;
}

.styled-checkbox {
    display: block;
    margin-top: 10px;
    margin-left: 35px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styled-checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: -4px;
    height: 22px;
    width: 22px;
    background-color: #5937B9;
}

.styled-checkbox:hover input ~ .checkmark {
    background-color: #5937B9;
}

.styled-checkbox:checked  input ~ .checkmark {
    background-color: #5937B9;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.styled-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.styled-checkbox .checkmark:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/croix.svg ) center / cover no-repeat;
}

/* Datasets */

ul.datasets-navigation::after {
    content:'';
    display: table;
    clear:both;
}

.datasets-navigation li {
    float: left;
}

.dataset-images-grid {
    width: 100%;
    height: 420px;
    overflow: auto;
}

.no-dataset .dataset-images-grid {
    opacity: 0.25;
}


.dataset-images-grid.three-rows {
    height: 210px;
}

.large-panel-on-left .dataset-images-grid {
    background: url(../images/texture.png);
    padding: 8px 0 22px;
    margin-bottom: 15px;
}

.instructions .dataset-images-grid {
    height: auto;
}

.dataset-images-grid ul {
    list-style-type: none;
}

.dataset-images-grid ul::after {
    content:'';
    display: table;
    clear:both;
}

.dataset-images-grid li {
    float: left;
    margin: 7px;
}

.dataset-images-grid li span.image,
.dataset-images-grid li {
    display: block;
    width: 58px;
    height: 58px;
    border: 1px solid rgba(83, 83, 83, 0.7);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.53);
}

.instructions-panel .dataset-images-grid li {
    margin: 3px;
    width: 48px;
    height: 48px;
}

li span.image.dataset-image,
li.dataset-image {
    background-position: center;
    background-size: cover;
}

li.dataset-image {
    position: relative;
}

.clickable-images-grid li.dataset-image.last-selected {
    margin: 3px;
    border-radius:12px;
    border:5px solid #535353;
}

li.dataset-image.selected::after {
    content:'';
    position: absolute;
    bottom:2px;
    right:2px;
    width: 22px;
    height: 22px;
    background: url(../images/cochee_image.svg) no-repeat;
    pointer-events: none;
}

.dataset-images-grid li.with-image-in-span {
    border-color: transparent;
    background: none;
}

.dataset-images-grid li.with-image-in-span > span.image {
    display: block;
    width: 58px;
    height: 58px;
}

.dataset-images-grid.dataset-images-with-checkbox li.with-image-in-span > span.image,
.dataset-images-grid.dataset-images-with-checkbox  li {
    display: block;
    width: 51px;
    height: 51px;
}

.instructions-panel .dataset-images-grid li.with-image-in-span > span.image {
    width: 51px;
    height: 51px;
}

.dataset-images-grid.dataset-images-with-checkbox li,
.instructions-panel .dataset-images-grid.dataset-images-with-checkbox li {
    margin-bottom: 40px;
}

.dataset-images-grid.dataset-images-with-checkbox li.with-checkbox,
.instructions-panel .dataset-images-grid.dataset-images-with-checkbox li.with-checkbox {
    height: 90px;
    margin-bottom: 0;
}





li.with-image-in-span img,
li.dataset-image img {
    display: none;
}

.parent-webcam,
.image-for-prediction {
    width:172px;
    height: 186px;
    border:solid 1px #999999;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 5px;
    overflow: hidden;
    margin: 62px 0 30px 47px;
}

.parent-webcam.large-size,
.image-for-prediction.large-size {
    width: 150px;
    height: 150px;
}

.parent-webcam.medium-size,
.image-for-prediction.medium-size {
    width: 112px;
    height: 120px;
}

.parent-webcam.small-size,
.image-for-prediction.small-size {
    width: 94px;
    height: 100px;
    margin: 0 auto;
}


.image-for-prediction li.with-image-in-span {
    width: 172px;
    height: 186px;
}

.image-for-prediction.medium-size li.with-image-in-span {
    width: 114px;
    height: 122px;
}

.image-for-prediction li span.image.dataset-image,
.image-for-prediction li.dataset-image {
    width:100%;
    height: 100%;
    display: inline-block;
}

.instructions-panel-right .image-for-prediction {
    margin-left: 0;
}


/* Popup */

.popup {
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0);
    width:100%;
    height: 100%;
}

.popup-content {
    width: 60%;
    height: 126px;
    margin: 420px auto 0;
    padding: 10px;

    border-radius:8px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);

    font-family: 'Rambla', sans-serif;
    color: #00977D;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;

    display: flex;
    align-items: center;
}

.popup-content p {
    width: 100%;
    text-align: center;
}



/* Video (hors webcam) */

.intro-step {
    width: 100%;
    background: url(../images/texture.png) ;
}

.intro-step h1 {
    display: none;
}

.intro-step .video-parent {
    display: flex;
    align-items: center;
    min-height: calc( 100vh - 147px );
    max-height: 100%;
    text-align: center;
}

.video-parent button {
    position: absolute;
    bottom: 0;
}

.intro-step .video {
    position: relative;
    width:80%;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.intro-step .video > video {
    display: block;
    pointer-events: none;
    width:100%;

}

.intro-step .video-background {
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    display: block;
    max-width: 1024px;
    background: #06B698 url(../images/b_video.svg) center / 140px 140px no-repeat;
    opacity: 0.8;
}

.intro-step .video-parent .video-infos {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(37, 88, 80, 0.3);
    text-align: left;
    padding: 54px 90px;
    pointer-events: none;
}

.intro-step .video-parent .video-infos::before {
    content:'';
    display: block;
    width:140px;
    height:140%;
    background: url(../images/image_entonoir.svg) left bottom / contain no-repeat;
    opacity: 0.3;
    position: absolute;
    top:calc( -140% + 1px );
    left:40px;
}

.intro-step .video-parent .video-infos .video-step-title {
    padding-bottom: 12px;
    color: #FFFFFF;
    font-family: 'Rambla', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
}

.intro-step .video-parent .video-infos .video-title {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 41px;
    text-transform: uppercase;
    color: #FF7558;
}

.intro-step .video-parent.is-playing::after {
    display: none;
}

.intro-step .video-parent.is-playing .video-infos,
.intro-step .video-parent.is-playing .video-background {
    opacity: 0;
}

video::cue {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px black;
}


/* Video webcam */


.parent-webcam {
    position: relative;
}
.parent-webcam > video {
    position: absolute;
    left:0;
    top:0;
    transform: translate(-40px,0);
}

.parent-webcam.medium-size > video {
    transform: scale(0.7, 0.7) translate(-100px, -46px);
}

.parent-webcam.small-size > video {
    transform: scale(0.6, 0.6) translate(-127px, -70px);
}

.parent-webcam-bg {
    background: url(../images/texture.png) ;
    padding: 2px 0;
    margin:22px 20px 32px;
}

.parent-webcam-bg .parent-webcam {
    margin:14px 0 14px 27px;
}

.datasets-and-instructions.test-with-webcam .parent-webcam-bg {
    text-align: center;
}

.datasets-and-instructions.test-with-webcam .parent-webcam-bg .parent-webcam {
    display: inline-block;
    margin: 14px 0;
}



    /* Crédits */

.credits {
    position: relative;
    width: 100%;
    background-color: #daf1e0;
    border-radius: 12px;
    min-height:495px;
    padding: 60px 80px;
}

.credits .columns {
    display: flex;
    margin-bottom: 60px;
}

.credits .columns .column {
    flex:0 0 50%;
}

.credits .columns .column:first-child {
    padding-right: 3%;
}

.credits .columns .column:last-child {
    padding-left: 3%;
}

.credits .une-production {
    color: #5937B9;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.credits .logos {
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 15px 35px;
}

.credits .create-commons {
    position: absolute;
    bottom: 10px;
    width: calc( 100% - 160px );
    color: #4A4A4A;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
}

.credits p {
    color: #4A4A4A;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}

.credits a {
    color: #5937B9;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    line-height: 27px;
    text-decoration: none;
}

.credits p.credits-rubrique {
    font-weight: 800;
    text-transform: uppercase;
}

.credits .metier {
    font-style: italic;
    font-weight: 400;
}

.credits .logos {
    text-align: center;
}

.credits .logos > * {
    display: inline-block;
    height: 70px;
    margin: 0 30px;
}

.credits .logo-magic-makers {
    background: url(../images/logo-magic-makers.png) center center / contain no-repeat;
    width: 75px;
}

.credits .logo-inria {
    background: url(../images/logo-inria.png) center center / contain no-repeat;
    width: 104px;
}

.credits .logo-s24b {
    background: url(../images/logo-s24b.png) center center / contain no-repeat;
    width: 75px;
}

.credits .logo-classcode {
    background: url(../images/logo-class-code.png) center center / contain no-repeat;
    width: 117px;
}

.credits .logo-microsoft {
    background: url(../images/logo-microsoft.png) center center / contain no-repeat;
    width: 130px;
}

.credits .logo-data-bingo {
    background: url(../images/logo-databingo.png) center center / contain no-repeat;
    width: 110px;
}

@media screen and (max-width:1024px) {

    .tuto-ia-application {
        overflow: hidden;
    }

    .intro-step,
    .step-contents {
        min-height: calc( 100vh - 215px );
    }

    .interactive-step {
        min-height: 400px;
    }

    .intro-step .video {
        width: 85%;
    }

    .intro-step .video-parent {
        min-height: calc( 100vh - 215px );
    }

    .intro-step .video-parent .video-infos {
        padding: 27px 45px;
    }

    .intro-step .video-parent .video-infos::before {
        height:150%;
        top:calc( -150% + 1px );
    }

    .intro-step .video-parent .video-infos .video-step-title {
        font-size: 22px;
        line-height: 28px;
        padding-bottom: 12px;
    }

    .intro-step .video-parent .video-infos .video-title {
        font-size: 28px;
        line-height: 32px;
    }

    .step-header {
        padding-bottom: 0;
    }

    .step-header .home-link {
        display: block;
        position: unset;
        margin-right: 24px;
        text-align: right;
    }

    .step-header .home-link a {
        background: url(../images/logo_classcode_IAI.svg) center / 130px 50px no-repeat;
        width: 130px;
        height: 50px;
        display: inline-block;
        text-align: center;
        padding: 10px 0;
    }

    .step-header .title-link {
        display: inline-block;
        position: absolute;
        margin-top: 0;
        top: 20px;
    }

    .step-header .title-link.no-active-chapter {
        display: none;
    }

    .step-description h2 {
        max-width: 100%;
        font-size: 20px;
        line-height: 24px;
    }

    .step-header ul.navigation.chapters {
        margin-right: 20px;
        margin-bottom: 22px;
        margin-top: 6px;
    }

    .step-header ul.navigation.chapters li:last-child a {
        margin-right: 15px;
    }

    .step-header ul.navigation.chapters li a {
        height: 36px;
        font-size: 14px;
        line-height: 36px;
    }

    .step-header ul.navigation.chapters li a::before {
        background-size: 23px 36px;
        left: -20px;
    }

    .step-header ul.navigation.chapters li a::after {
        background-size: 26px 36px;
        right: -23px;
    }

    .step-description p.chapter {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }

    .step-description p.description {
        font-size: 17px;
        line-height: 25px;
    }

    .datasets-and-instructions {
        display: block;
    }

    .datasets,
    .instructions {
        float: none;
        width: 100%;
        padding-left: 40px;
        height: auto;
        min-height: inherit;
    }

    .datasets {
        margin-bottom: 15px;
    }

    .dataset-images-grid {
        height: auto;
    }

    .interactive-step.datasets-with-two-rows-on-tablet .datasets {
        padding-bottom: 0;
    }

    .interactive-step.datasets-with-two-rows-on-tablet .dataset-images-grid {
        height: 130px;
    }

    .step-contents .datasets.with-navigation h3 {
        display: inline-block;
        margin-left: 65px;
    }

    .datasets a.previous-dataset {
        left: 40px;
    }

    .datasets a.next-dataset {
        left: 255px;
        right:unset;
    }

    .dataset-images-grid.dataset-images-with-checkbox,
    .instructions-panel .dataset-images-grid.dataset-images-with-checkbox {
        margin-left: calc( 5% - 7px );
    }

    .dataset-images-grid.dataset-images-with-checkbox li,
    .instructions-panel .dataset-images-grid.dataset-images-with-checkbox li {
        margin-right: 6%;
        margin-bottom: 40px;
    }

    .dataset-images-grid.dataset-images-with-checkbox li:nth-child(6),
    .instructions-panel .dataset-images-grid.dataset-images-with-checkbox li:nth-child(6) {
        clear: both;
    }

    .instructions .columns.with-padding-left {
        padding-left: 5%;
    }

    .instructions.full-width .instructions-panel-left {
        width: 65%;
    }

    .instructions.full-width .instructions-panel-right {
        width: 35%;
    }

    .instructions.full-width .columns .column.webcam-column {
        flex: 0 0 40%;
    }

    .instructions.full-width .columns .column.buttons-column {
        width: 60%;
    }

    .step-footer ul.navigation-next{
        right: 40px;
    }

    .step-footer ul.navigation-next li a {
        line-height: 36px;
        height: 36px;
    }

    .step-footer .credits-link {
        left: 20px;
    }

    .datasets.no-dataset {
        display: none;
    }

    .datasets:last-child {
        margin-top: 20px;
        margin-left: 0;
    }

    .dataset-images-grid.three-rows {
        height: auto;
    }

    .instructions-panel {
        height: auto;
    }

    .instructions-panel .instructions-panel-right {
        padding: 30px 20px;
    }

    .instructions.with-large-left-padding {
        padding-left: 40px;
    }

    .instructions-panel-right .image-for-prediction,
    .image-for-prediction {
        margin: 20px auto;
        transform: scale(0.8);
    }

    .instructions.with-large-left-padding .instructions-panel {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .instructions-panel.large-panel-on-left .instructions-panel-left {
        width: 96%;
    }

    .instructions-panel.large-panel-on-left .instructions-panel-right {
        width: 0;
    }

    .instructions .category-panel .modify-selections-button,
    .instructions .category-panel .validate-selection-button {
        padding: 7px 30px;
    }

    .first-category-panel.category-panel .validate-selection-button,
    .first-category-panel.category-panel .modify-selections-button,
    .second-category-panel.category-panel .validate-selection-button,
    .second-category-panel.category-panel .modify-selections-button {
        margin-right: 20px;
    }

    .instructions-panel-left-header {
        position: relative;
    }

    .instructions-panel-left-header span.validation {
        position: absolute;
        right: 65px;
    }

    .instructions-panel .dataset-images-grid li {
        margin: 5px;
    }

    .instructions-panel .train-button-parent {
        text-align: center;
    }

    .file-upload-button,
    .datasets button,
    .instructions button {
        padding: 7px 20px;
    }

    .instructions-panel-left .file-upload-button,
    .instructions-panel-left .snapshot-button {
        padding: 7px 15px;
    }

    .parent-webcam {
        margin:0 auto;
    }

    .datasets-and-instructions.test-with-webcam .datasets {
        width: 100%;
    }

    .datasets-and-instructions.test-with-webcam .datasets .instructions-header {
        display: none;
    }

    .datasets-and-instructions.test-with-webcam .instructions {
        width: 100%;
        padding-left: 40px;
    }

    .datasets-and-instructions.test-with-webcam .parent-webcam-bg {
        width: 40%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
    }

    .datasets-and-instructions.test-with-webcam .parent-buttons {
        width: 60%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        display: block;
        position: absolute;
        right: 0;
        top: 100px;
        padding: 0 50px;
    }

}

@media screen and (max-width:768px) {

    .step-header {
        padding: 0;
    }

    .step-header .home-link {
        position: unset;
        margin-right: 0;
    }

    .step-header .home-link a {
        background: url(../images/logo_classcode_IAI.svg) center right 10px / 122px 42px no-repeat;
        width: 100%;
        height: 77px;
        display: inline-block;
        text-align: center;
        padding: 0;
    }

    .no-active-chapter .step-header .home-link a {
        background-position: center center;
    }

    .step-header ul.navigation.chapters {
        text-align: center;
        margin-right: 0;
    }

    .no-active-chapter .step-contents {
        min-height: calc( 100vh - 145px );
    }

    .step-contents .datasets.with-navigation h3 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .step-footer ul.step-navigation {
        display: none;
    }

    .no-active-chapter .step-header ul.navigation.chapters {
        display: none;
    }

    .step-footer a.credits-link {
        display: block;
        text-align: center;
        position: unset;
        margin-bottom:25px;
    }

    .intro-step .video-parent .video-infos {
        padding: 27px 45px;
    }

    .intro-step .video-parent .video-infos .video-step-title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 8px;
    }

    .intro-step .video-parent .video-infos .video-title {
        font-size: 24px;
        line-height: 28px;
    }

    .instructions .columns,
    .instructions-panels {
        display: block;
    }

    .instructions.full-width .instructions-header,
    .instructions-panels {
        padding: 0 20px;
        margin-left:0;
    }

    .instructions-panel.large-panel-on-left {
        display: block;
    }

    .instructions-panel .instructions-panel-left-header,
    .instructions-panel.large-panel-on-left .instructions-panel-right,
    .instructions-panel.large-panel-on-left .instructions-panel-left {
        float: none;
        position: relative;
        width: calc(100% - 20px);
    }

    .instructions-panel .instructions-panel-left-header input[type="text"],
    .instructions-panel .instructions-panel-left-header h4 {
        width: calc(100% - 80px);
    }

    .instructions-panel.modify-selection-step .instructions-panel-left-header input[type="text"],
    .instructions-panel.modify-selection-step .instructions-panel-left-header h4 {
        width: 100%;
    }

    .instructions-panel.large-panel-on-left .instructions-panel-right.with-border-left {
        border: none;
        margin-left: 0;
        margin-top: 40px;
    }

    .instructions-panel.large-panel-on-left .instructions-panel-right.with-border-left.inactive {
        display: none;
    }

    .instructions-panel .parent-select {
        width: 100%;
    }

    .instructions.full-width .instructions-header {
        margin-left: 10%;
    }

    .instructions.full-width .instructions-panel-left {
        margin-left: 10%;
    }

    .instructions.full-width .instructions-panel-left,
    .instructions.full-width .columns .column.buttons-column,
    .instructions.full-width .columns .column.webcam-column {
        width: 100%;
        margin-left:0;
        float: none;
    }

    .instructions.full-width .columns .column.webcam-column .parent-webcam {
        display: inline-block;
    }

    .instructions.full-width .columns .column.webcam-column,
    .instructions.full-width .columns .column.buttons-column {
        text-align: center;
    }

    .instructions.full-width .columns .column.buttons-column {
        padding: 0 0 20px 0;
    }

    .instructions.full-width .input-for-category-parent input[type="text"] {
        width: 95%;
    }

    .instructions .columns.with-padding-left {
        padding-left: 0;
    }

    .instructions.full-width .instructions-panel-right {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    .instructions .category-panel .modify-selections-button,
    .instructions .category-panel .validate-selection-button,
    .instructions.full-width .instructions-panel-right > * {
        position: inherit;
        margin-bottom: 40px;
    }

    .instructions-panel-left-header span.validation {
        margin: 5px 0 5px 20px;
        position: relative;
        right: 0;
    }

    .instructions-panel .instructions-panel-right {
        /* text-align: left; */
    }

    .instructions-panel-right .image-for-prediction.medium-size {
        display: block;
    }

    .interactive-step.datasets-with-two-rows-on-tablet .dataset-images-grid {
        height: auto;
    }

    .step-contents .datasets h3 {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .datasets a.previous-dataset {
        left: 40px;
    }

    .datasets a.next-dataset {
        left: unset;
        right:30px;
    }

    .file-upload-button,
    .datasets button,
    .instructions button {
        font-size: 16px;
    }

    .credits {
        padding: 5%;
    }

    .credits .columns {
        display: block;
    }

    .credits .columns .column:first-child {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .credits .columns .column:last-child {
        padding-left: 0;
    }

    .credits .une-production {
        text-align: left;
    }

    .credits .create-commons {
        width: 100%;
        text-align: left;
    }

}


@media screen and (max-width:768px) and (orientation:portrait) {

    .intro-step .mobile-warning.for-tablet {
        display: block;
    }

}

@media screen and (max-width:480px) and (orientation:portrait) {

    .intro-step .mobile-warning.for-mobile {
        display: block;
    }

    .intro-step .mobile-warning.for-tablet {
        display: none;
    }

}

@media screen and (max-height:480px) and (orientation:landscape) {

    .intro-step .mobile-warning.for-mobile {
        display: block;
    }

    .intro-step .mobile-warning.for-tablet {
        display: none;
    }

}
