    <div class="step-description">
        <p class="chapter">{{i18n "Vous avez dit Yolo ?"}}</p>
        <p class="description">
        Vérifions que tout fonctionne correctement !<br />
        Autorisez la caméra et vérifiez que vous êtes détecté.e en tant que “personne”

        </p>
    </div>
    <iframe class="embiframe" id="myiframe" src=""></iframe>
    <div class="right-text">{{i18n "La première fois, le chargement peut prendre une à deux minutes."}}</div>