    <div class="step-description">
        <p class="chapter">{{i18n "Apportons un peu de fantaisie et de chaos dans ce beau réseau de neurones bien huilé ! "}}</p>



    </div>
    <iframe class="embiframe" id="myiframe"  src=""></iframe>
<div><button class="aller-retour">{{i18n "Tester le résultat"}}</button></div>

<div class="right-text">{{i18n "Cliquez sur un mot de la liste pour en modifier "}}<span class="gras">{{i18n "l'interprétation"}}</span></div>

