<div class="interactive-step">
    <div class="step-description">
                <p class="chapter">{{i18n "Tromper l'IA - Yolo"}}</p>
                <h2>{{i18n "En savoir encore plus"}}</h2>

    </div>

    <div>

        <div class="qcm-instructions-panel">
            <div class="instructions-panel-top">
                <div class="savoir-plus">
                    <ul>
                        <li>{{i18n "YOLOv3: An Incremental Improvement "}}<a class="outer-link" href="https://pjreddie.com/darknet/yolo/" target="_blank">{{i18n "https://pjreddie.com/darknet/yolo/"}}</a></li>
                        <p>
                        <li>{{i18n "ImageNet "}}<a class="outer-link" href="http://www.image-net.org/" target="_blank">{{i18n "http://www.image-net.org/"}}</a>{{i18n "  - "}}<a class="outer-link" href="https://fr.wikipedia.org/wiki/ImageNet" target="_blank">{{i18n "https://fr.wikipedia.org/wiki/ImageNet"}}</a> </li>
                        </p>
                        <p>
                        <li>{{i18n "Liste des objets reconnus par Yolo : "}}<br /><a class="outer-link" href="https://github.com/ml5js/ml5-library/blob/main/src/utils/COCO_CLASSES.js" target="_blank">{{i18n "https://github.com/ml5js/ml5-library/blob/main/src/utils/COCO_CLASSES.js"}}</a>.</li>
                        </p>
                         <p><li>{{i18n "comparaison des algorithmes de reconnaissance d’images : "}}<br /><a class="outer-link" href="https://towardsdatascience.com/r-cnn-fast-r-cnn-faster-r-cnn-yolo-object-detection-algorithms-36d53571365e" target="_blank">{{i18n "https://towardsdatascience.com/r-cnn-fast-r-cnn-faster-r-cnn-yolo-object-detection-algorithms-36d53571365e"}}</a></li>
                   </p>
                    </ul>


                </div>

            </div>
        </div>
    </div>
</div>
