<div class="intro-step">

 <div class="video-parent">
        <div class="video">
            <video src="{{videoPath}}" poster="{{posterPath}}" >
                  <track src="{{subtitlePath}}" kind="subtitles" srclang="fr" label="Français" />
            </video>
            <div class="video-background">
            </div>
            <div class="video-infos">
                <p class="video-step-title">{{i18n "Tromper l'IA"}}</p>
                <p class="video-title">{{i18n "Décrire le monde"}}</p>
            </div>
        </div>
    </div>
</div>