    <div class="step-description">
        <p class="chapter">{{i18n "Discuter avec l'IA - Robert de Barretin"}}</p>
        <p class="description">Lançons la discussion avec Robert,  un vrai bavard qui se nourrit de ses rencontres !

                               </p>
    </div>
    <iframe class="embiframe" id="myiframe" src=""></iframe>

<div class="consignes">{{i18n "Pour commencer, vérifiez le volume sonore de votre machine, cliquez sur "}}<span class="gras">{{i18n "“activez votre micro”"}}</span>{{i18n "  puis parlez."}}</div>