<div class="interactive-step">
    <div class="step-description">
                <p class="chapter">{{i18n "Discuter avec l'IA - Robert de Barretin"}}</p>
                <h2>{{i18n "En savoir encore plus"}}</h2>

    </div>

    <div>

        <div class="qcm-instructions-panel">
            <div class="instructions-panel-top">
                <div class="savoir-plus">
                <p>
                Usbek et Rica<br />
                                <a class="outer-link" href="https://usbeketrica.com/article/pourquoi-les-assistants-vocaux-ont-des-voix-feminines" target="_blank">{{i18n "https://usbeketrica.com/article/pourquoi-les-assistants-vocaux-ont-des-voix-feminines"}}</a>
                </p>
                <p>
                                Le Monde<br />
                                <a class="outer-link" href="https://www.lemonde.fr/pixels/article/2019/05/22/les-assistants-vocaux-renforcent-les-stereotypes-sexistes-selon-un-rapport-de-l-onu_5465684_4408996.html" target="_blank">{{i18n "https://www.lemonde.fr/pixels/article/2019/05/22/les-assistants-vocaux-renforcent-les-stereotypes-sexistes-selon-un-rapport-de-l-onu_5465684_4408996.html"}}</a>

                </p>


                </div>

            </div>
        </div>
    </div>
</div>
