    <div class="step-description">
        <p class="chapter">{{i18n "Améliorons la conversation de Robert !"}}</p>



    </div>
    <iframe class="embiframe" id="myiframe"  src=""></iframe>
<div><button class="aller-retour">{{i18n "Discuter à nouveau avec Robert"}}</button></div>

<div class="consignes2">
    <ul>
        <li>{{i18n "Cliquez sur le \"+\" pour "}}<span class="gras">{{i18n "ajouter"}}</span>{{i18n " un mot déclencheur"}}</li>
        <li>{{i18n "Cliquez sur un déclencheur de la liste pour le "}}<span class="gras">{{i18n "modifier"}}</span></li>
        <li>{{i18n "Utilisez la loupe pour "}}<span class="gras">{{i18n "rechercher"}}</span>{{i18n " un déclencheur dans la liste"}}</li>
        <li>{{i18n "Quand vous avez ainsi changé les éléments de langage de Robert, cliquez sur le bouton "}}<span class="gras">{{i18n "\"Discuter à nouveau avec Robert\""}}</span> </li>
    </ul>
</div>