@import "font.css";

*{padding:0;margin:0;font-family:"Circular"}
body{
    width:640px;
    height:480px;
    /* background-color:#FF0000;*/
    overflow:hidden;
}
#console{
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    background-color:#AAA;
    display:none;
}
#console #realtime-speech{
    padding:7px;
}

#status{position:fixed;top:25px;left:5px;color:#AAA;}
